*{
  font-weight: 200;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: right;
  display: flex;
  justify-content: right;
  height: 3rem;
}

@media (prefers-reduced-motion: no-preference) {

  .App-logo,
  .Hello {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #000000;
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}